<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>REST Countries API | shantam8</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="./css/main.css" />
  <script src="./js/main.js" defer></script>
</head>

<body>
  <header>
    <div class="title-container">
      <h1>Where in the world?</h1>
      <button id="btn-toggle-dark-mode" class="dark-mode-container" aria-label="toggle dark mode">
        <i class="bi bi-moon"></i>
        Dark Mode
      </button>
    </div>
  </header>

  <main id="app">
    <section id="input-options-container">
      <div class="input-container">
        <i class="bi bi-search"></i>
        <input v-model="query" id="input-field-country" type="text" placeholder="Search for a country..." />
      </div>

      <div  id="region-selector-container">
        <select v-model="region" id="continentSelection">
          <option value="">Select a continent</option>
          <option value="Africa">Africa</option>
          <option value="America">America</option>
          <option value="Asia">Asia</option>
          <option value="Europe">Europe</option>
          <option value="Oceania">Oceania</option>
          <option value="Antarctica">Antarctic</option>
        </select>
    </section>

    <section v-if="!showDetail" id="countries-selection-box">
      <div v-for="(country, index) in countriesFilter" :key="country.name.common" @click="details(country)" class="country-info-box">
        <img :src="country.flags.png" :alt="country.flags.alt">
        <h2>{{country.name.common}}</h2>
        <p>Population: {{country?.population}}</p>
        <p>Region: {{country?.continents.join(', ')}}</p>
      </div>
    </section>

    <section v-if="showDetail" id="country-details">
      <button @click="()=>showDetail = !showDetail" id="btn-leave-details" aria-label="back to main page">
        <i class="bi bi-arrow-left"></i> Back
      </button>

      <div id="country-details-container">
        <div>
          <img :src="selectedCountry.flags.png" :alt="selectedCountry?.flags?.alt || 'flag not loaded'" />
        </div>

        <div class="country-detail-text">
          <h2 id="country-detail-name"></h2>

          <div class="country-detail-text-container">
            <div class="text-container1">
              <p>
                <span>Native Name: {{ Object.values(selectedCountry.name.nativeName)[0]?.official }}</span>
                <span id="detail-native-name"></span>
              </p>
              <p>
                <span>Population: {{ selectedCountry?.population.toLocaleString() }} </span>
                <span id="detail-population"></span>
              </p>
              <p><span>Region: {{ selectedCountry?.region }} </span><span id="detail-region"></span></p>
              <p>
                <span>Sub Region: {{ selectedCountry?.subregion }}</span>
                <span id="detail-sub-region"></span>
              </p>
              <p><span>Capital: {{ selectedCountry?.capital[0] }}</span><span id="detail-capital"></span></p>
            </div>
            <div class="text-container2">
              <p>
                <span>Top Level Domain: {{ selectedCountry.tld.join(', ') }}</span>
                <span id="detail-tld"></span>
              </p>
              <p>
                <span>Currencies: {{ Object.values(selectedCountry?.currencies)[0]?.name }} ( {{ Object.values(selectedCountry?.currencies)[0]?.symbol }} )</span>
                <span id="detail-currency"></span>
              </p>
              <p>
                <span>Languages: {{ Object.values(selectedCountry.languages).join(', ') }}</span>
                <span id="detail-languages"></span>
              </p>
            </div>
          </div>

          <h3 v-if="selectedCountry?.borders">Border Countries:</h3>
          <div v-for="border in selectedCountry?.borders" :key="border" class="border-country" id="border-countries-container">
               <div class="border-country">{{ border }}</div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
<script type="module">
    import { createApp, ref, onMounted, computed } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    createApp({
      setup() {
        const countries = ref([]);
        const region = ref('');
        const query = ref('');
        const showDetail = ref(false)
        let selectedCountry = ref({})

        onMounted(() => {
          getInfo();
        });

        const getInfo = async () => {
          try {
            // const response = await fetch('https://restcountries.com/v3.1/all?fields=name,flags,population,continents');
            const response = await fetch('https://restcountries.com/v3.1/all?fields=name,flags,population,continents,region,capital,tld,currencies,languages,borders');
            
            if (!response.ok) {
              throw new Error(`Error en la API: ${response.status}`);
            }
            const data = await response.json();
            countries.value = data; 
            console.log(countries)
          } catch (error) {
            console.error("Error al obtener los países:", error);
          }
        };

        const countriesFilter = computed(() => {
          let filters = countries.value;
          if (region.value) {
            filters = filters.filter(c => c.continents.some(continent => continent.includes(region.value)));
          }
          if (query.value) {
            filters = filters.filter(c => c.name.common.toLowerCase().includes(query.value.toLowerCase()));
          }
          return filters;
        });

        const details = (country)=>{
          showDetail.value = !showDetail.value
          selectedCountry.value = country
          console.log(selectedCountry.borders)
        }

        return {
          countries,
          getInfo,
          countriesFilter,
          region,
          query,
          details,
          showDetail,
          selectedCountry
        };
      }
    }).mount("#app");
  </script>
</body>

</html>